<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Catalog</h1>

	<h1 th:text="${catalog.name}">Catalog</h1>

	<form action="#" th:object="${catalog}" th:method="put"
		  th:action="@{/catalogs}" class="form-horizontal">
		<dl class="dl-horizontal">
			<dt>Catalog name old</dt>
			<dd th:text="${catalog.name}"></dd>
			<dt>Catalog name new</dt>
			<dd><input type="text" class="form-control" id="name"
					   th:field="*{name}" style="width: 10em;" /></dd>
			<input type="hidden" th:field="${catalog.id}"/>

		</dl>
		<button type="submit" class="btn btn-primary">Update</button>
	</form>

	<div th:replace="footer :: copy"></div>
</body>
</html>
